@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-theme: #FF7373;
    --color-theme-dark-1: #23262A;
    --color-theme-dark-2: #222529;
    --color-gray-0: #F8F8F8;
    --color-gray-1: #F5F5F5;
    --color-gray-2: #E6E6E6;
    --color-gray-3: #D3D3D4;
    --color-gray-4: #BBBBBB;
    --color-gray-5: #616365;
    --color-white: #FFFFFF;

    --font-poppins: 'Poppins', sans-serif;;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold:600;
    --font-weight-bold: 700;
    --font-weight-extra-bold:800;
    --font-size-13: 1.08rem;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-20: 1.70rem;
    --font-size-45: 3.75rem;
    --font-size-65: 5.42rem;
    
    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
}

/* general */
html, body {
font-size: 16px;
line-height: 1.5;
font-family: var(--font-poppins);
font-weight: var(--font-weight-regular);
color: var(--color-theme-dark-1);
}

.btn-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
    font-weight: var(--font-weight-semi-bold);
    font-size: 0.8rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    border-radius: 0;
}
    /* .btn-theme:hover {
        background-color: var(--color-theme-dark);
        color: var(--color-white);
    } */

/* navigation-bar */

.navigation-bar {
    position: fixed;
    width: 100%;
    /* top:0; */
}

.navigation-bar .container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    
}

.navigation-bar .logotype {
    margin-top: -15px;
}    

.navigation-bar .navigation-links a {
    padding: 10px ;
    color: var(--color-theme-dark-2);
    font-weight: var(--font-weight-medium);
    /* font-size: var(--font-size-16);  */
    text-decoration: none;
}
    .navigation-bar .navigation-links a:first-child {
        color: var(--color-theme);
    }


.navigation-bar .icons button {
    margin: 5px ;
    background-color: var(--color-white);
    /* color: var(--color-white); */
    border: none;
    border-radius: var(--border-radius-rounded);
    /* transition: 0.3s ease-in-out; */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}


/* hero-section */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    background-color: var(--color-gray-2); 
    
}

.hero-section .hero-body {   
    text-align: center; 
    margin-top: 140px;
}
.hero-section .hero-body h1 {   
   font-weight: var(--font-weight-extra-bold);
}
/* .hero-section .hero-body p {   
    text-align: center; 
    margin-top: 140px;
}  */

.hero-section .hero-image-left img {
    width: 400px;
    margin-left: 80px;
}
.hero-section .hero-image-right img {
    width: 400px;
    margin-right: 80px;
}


/* product-section featured-product */
      
                    




















/* ------contact-page------- */



