.navigation-bar {
    // width: 100%;
    // position: fixed;
    // z-index: 3; 


     .container {
        display: grid;
        padding-top: 10px; 
        padding-bottom: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo navigationicons"
                            "navigationlinks navigationlinks";
        
    }

    .logotype {
        grid-area: logo;
        font-size: 30px;
        font-weight: $font-weight-bold;
        color: $color-theme-dark-2;
        text-decoration: none;
    

        &:hover {
            
        }
    }    

    .navigation-links {
        grid-area: navigationlinks;
        display: grid;
        overflow: hidden;
        height: 100%;
        
        .navigation-link {
            margin: 15px 15px;
            font-size: 13px;
            color: $color-theme-dark-2;
            text-decoration: none;
            font-weight: $font-weight-medium;
        }

        .active  {
            color: $color-theme;
        }
    }

  

    .icons {
        grid-area: navigationicons ;
        display: flex; 
        // kanske right;
        justify-content: flex-end;

        
        .icon {
            position: relative;
            padding: 10px;
            margin-left: 20px;
            height: 35px;
        }

        .active {
           
        }
    }
}  

@media (min-width: 992px) {
    .navigation-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px; 
    padding-bottom: 20px;

        .navigation-links {
            grid-area: navigationlinks;
            display: inline;
            overflow: hidden;
            height: 100%;
            font-weight: $font-weight-medium;
        }
    }
}