.navigation-bar {
    // width: 100%;
    // position: fixed;
    // z-index: 3; 

     .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px; 
        padding-bottom: 20px;
    }

    .logotype {
        font-size: 30px;
        font-weight: $font-weight-bold;
        color: $color-theme-dark-2;
        text-decoration: none;

        &:hover {
            color: $color-theme-dark-2;
        }
    }    

    .navigation-links {
        margin-left: 50px;

        .navigation-link {
            margin-left: 15px;
            margin-right: 15px; 
            font-size: 13px;
            font-weight: $font-weight-medium;
            text-decoration: none;
        }

        .active  {
            color: $color-theme;
        }
    }

  

    .icons {
        display:flex; 
        list-style: none; 
        
        .icon {
            position: relative;
            padding: 10px;
            margin-left: 20px;
        }

        .active {
            transition: 0.4s ease-in-out; 
            color: $color-white;
            background-color: $color-theme-dark-1;
        }
    }
}  

